<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>CRUD</title>
</head>
<body>
    <div class="container">
        <main>
            <form method="get" id="form">
                <h1 class="title">Login com PHP</h1>
                <div class="inputboxs">
                    <div class="inputbox">
                        <input id="email" autocomplete="username" required="required" type="text"/>
                        <span>Email</span>
                        <i></i>
                    </div>
                    <div class="inputbox">
                        <input id="password" autocomplete="current-password" name="passwordLog" required="required" type="password"/>
                        <span>Senha</span>
                        <i></i>
                    </div>
                </div>
                <a href="#" class="forget">Esqueceu a senha?</a>
                <div class="divBtn">
                    <button class="btn" id="btn" type="submit">Enviar</button>
                </div>
                <p class="existLogin">Não tem uma conta?<a href="../index.html">Cadastro</a></p>
            </form>
        </main>
    </div>
</body>
</html>